doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Crypto Currency Comparer

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.1.0/js/all.js', crossorigin='anonymous')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js', crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/apexcharts', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/sifter/0.5.4/sifter.min.js', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/microplugin/0.0.3/microplugin.min.js', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.5/js/selectize.min.js', crossorigin='anonymous')



        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.5/css/selectize.bootstrap5.min.css', rel='stylesheet', type='text/css')
        link(href='"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', rel='stylesheet', type='text/html')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.navbar-brand(href='#page-top')
                    img(src='assets/img/navbar-logo.svg ' alt='...' style="height: 3rem;")
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars.ms-1
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ms-auto.py-4.py-lg-0
                        li.nav-item
                            a.nav-link(href='#compare') Predict
                        li.nav-item
                            a.nav-link(href='#workflow') About
                        li.nav-item
                            a.nav-link(href='#team') Team
                        li.nav-item
                            a.nav-link(href='#contact') Contact
        // Masthead
        header.masthead
            .container
                .masthead-subheading Welcome To CP2
                div(style='width:100%')
                    h1.text-uppercase(style='display:inline') Comparer
                    img(src='assets/img/navbar-logo.svg ' alt='...' style="height:3rem; display:inline; margin-top: -1rem; margin-right: 0.5rem; margin-left: 0.5rem;")
                    h1.text-uppercase(style='display:inline') Predictor
                a.btn.btn-primary.btn-xl.text-uppercase(href='#compare', style="margin-top: 1rem") Start Comparing


        div#alert-modal.modal.fade
            .modal-dialog
                .modal-content
                    .modal-header
                        h4#alert-modal-title.modal-title.text-start.text-danger
                        button.btn-close.btn-primary(type="button" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                    div#alert-modal-body.modal-body.text-danger
                    .modal-footer
                    button.btn.btn-primary(type='button' data-dismiss="modal") Close

        // Compare
        section#compare.page-section
            .container
                div#stockName.text-center
                    h2.section-heading.text-uppercase Crypto Currency Price Predictor
                    h3.section-subheading.text-muted Please fill and submit the form to view the comparison
                form#graph-details.row.row-cols-lg-auto.g-3.align-items-center
                    .col-12
                        label.visually-hidden(for="currencies") Crypto Currencies
                        select#currencies.select(multiple name="currencies")
                            option(value="" selected disabled) Crypto Currencies
                            option(value="BTC-USD") BTC-USD
                            option(value="BCH-USD") BCH-USD
                            option(value="XMR-USD") XMR-USD
                            option(value="ZEC-USD") ZEC-USD
                            option(value="XRP-USD") XRP-USD
                            option(value="XLM-USD") XLM-USD
                            option(value="DASH-USD") DASH-USD
                            option(value="BTG-USD") BTG-USD
                            option(value="XRP-USD") XRP-USD
                            option(value="TRX-USD") TRX-USD
                            option(value="ETC-USD") ETC-USD
                            option(value="MIOTA-USD") MIOTA-USD
                            option(value="LTC-USD") LTC-USD
                            option(value="ADA-USD") ADA-USD
                            option(value="XEM-USD") XEM-USD
                    .col-12
                        label.visually-hidden(for="noOfDays") Number of days
                        input#noOfDays.form-control(type="number" name="noOfDays" min="0" max="250" placeholder="days")
                    .col-12(style="width: 15%;")
                        label.visually-hidden(for="type") Action Type
                        select#type.select( name="type")
                            option(value="" selected disabled) Action Type
                            option(value="past_data") Historical Data
                            option(value="predictions") Future Predictions
                    .col-12
                        button.btn.btn-primary(type="submit") Submit
                div#CompareLoadingSpinner.d-flex.align-items-center.visually-hidden
                    strong Fetching data.....
                    div.spinner-border.ms-auto(role='status',aria-hidden="true")
                div#chartForComparison.apex-charts

        // About
        section#workflow.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase About
                    h3.section-subheading.text-muted A detailed description of application
                ul.timeline
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/1.jpg', alt='...')
                        .timeline-panel
                            .timeline-heading
                                h4 UI/Frontend
                                h6.subheading Collecting user inputs (html, pug, jquery, bootstrap, selectize)
                            .timeline-body
                                p.text-dark.text-lg-center
                                    | Crypto currencies :-
                                p.text-muted.text-lg-start
                                    | you can select single/multiple currencies. Graph is shown for all the selected currencies. Hence, enabling user for easy comparision.
                                p.text-dark.text-lg-center
                                    | Days (0 - 250):-
                                p.text-muted.text-lg-start
                                    | This defines how many day's worth of graph would you like to view.
                                p.text-muted.text-lg-start
                                    | today = 0 days with historic type
                                p.text-muted.text-lg-start
                                    | yesterday = 1 days with historic type
                                p.text-muted.text-lg-start
                                    | tomorrow = 1 days with prediction type
                                p.text-muted.text-lg-start
                                    | Note: Error is shown as 0 is not allowed with prediction type as it is considered as today
                                p.text-dark.text-lg-center
                                    | Action Type :-
                                p.text-muted.text-lg-start
                                    | Historic Data = this provides data from today to previous (n) days. n being the numberOfDays selected in earlier form field.
                                p.text-muted.text-lg-start
                                    | Predictions = this provides data from tomorrow to (n-1) future days. n being the numberOfDays selected in earlier form field.
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/2.jpg', alt='...')
                        .timeline-panel
                            .timeline-heading
                                h4 Backend
                                h6.subheading Fetch and Predict future price (Python3, flask, pandas, yfinance)
                            .timeline-body
                                p.text-dark.text-lg-start
                                    | For each crypto currencies selected in the list, check the type of action needs to be performed.
                                p.text-muted.text-lg-start
                                    | Historic Data :- Get previous data from yahoo-finance
                                p.text-muted.text-lg-start
                                    | Prediction :- Prepare the historic data for modelling, feed it to the net and train the model.
                                p.text-muted.text-lg-start
                                    | The model predicts crypto prices for given number of days.
                                p.text-dark.text-lg-start
                                    | Note:
                                p.text-muted.text-lg-start
                                    | We are using pre-designed MLP Neural Network-Tensorflow (3- hidden levels). The performance can be optimized by changing the network structure or by changing to LSTM or RNN network.
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/3.jpg', alt='...')
                        .timeline-panel
                            .timeline-heading
                                h4 UI/Frontend
                                h4.subheading Displaying the graph
                                h4.subheading (axischartjs,bootstrap,jquery,
                                h4.subheading lodash,moment)
                            .timeline-body
                                p.text-muted.text-lg-start
                                    | X-axis : dates
                                p.text-muted.text-lg-start
                                    | Y-axis : currency prices
                                p.text-dark.text-lg-start
                                    | Note:
                                p.text-muted.text-lg-start
                                    | Loading spinner will be visible untill the graph is generated
                                p.text-muted.text-lg-start
                                    | Hovering over the graph lines will show price values for all the visible currencies
                    li.timeline-inverted
                        .timeline-image
                            a.stretched-link(href='#compare')
                            h4(style="margin-top: 50px;color: #212529;")
                                | Start
                                br
                                | Comparing

        // Team
        section#team.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase Our Amazing Team
                    h3.section-subheading.text-muted Brains and Hands that made this application come to life.
                .row
                    .col-lg-3
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/1.jpg', alt='...')
                            h4 Varun R
                            p.text-muted Designer
                            a.btn.btn-dark.btn-social.mx-2(href='https://github.com/Manjunath200105/crypto_predictor_app', target="_blank", aria-label='Varun R  Twitter Profile')
                                i.fab.fa-twitter
                            a.btn.btn-dark.btn-social.mx-2(href='#!',target="_blank", aria-label='Parveen Anand Facebook Profile')
                                i.fab.fa-facebook-f
                            a.btn.btn-dark.btn-social.mx-2(href='#!',target="_blank", aria-label='Parveen Anand LinkedIn Profile')
                                i.fab.fa-linkedin-in
                    .col-lg-3
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/2.jpg', alt='...')
                            h4 Nithin S M
                            p.text-muted Developer
                            a.btn.btn-dark.btn-social.mx-2(href='#!',target="_blank", aria-label='Diana Petersen Twitter Profile')
                                i.fab.fa-twitter
                            a.btn.btn-dark.btn-social.mx-2(href='#!',target="_blank", aria-label='Diana Petersen Facebook Profile')
                                i.fab.fa-facebook-f
                            a.btn.btn-dark.btn-social.mx-2(href='#!',target="_blank", aria-label='Diana Petersen LinkedIn Profile')
                                i.fab.fa-linkedin-in
                    .col-lg-3
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/3.jpg', alt='...')
                            h4 Naveen S R
                            p.text-muted Developer
                            a.btn.btn-dark.btn-social.mx-2(href='#!',target="_blank", aria-label='Larry Parker Twitter Profile')
                                i.fab.fa-twitter
                            a.btn.btn-dark.btn-social.mx-2(href='#!',target="_blank", aria-label='Larry Parker Facebook Profile')
                                i.fab.fa-facebook-f
                            a.btn.btn-dark.btn-social.mx-2(href='#!',target="_blank", aria-label='Larry Parker LinkedIn Profile')
                                i.fab.fa-linkedin-in
                    .col-lg-3
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/4.jpg', alt='...')
                            h4 Manjunath M
                            p.text-muted Designer
                            a.btn.btn-dark.btn-social.mx-2(href='#!',target="_blank", aria-label='Larry Parker Twitter Profile')
                                i.fab.fa-twitter
                            a.btn.btn-dark.btn-social.mx-2(href='#!',target="_blank", aria-label='Larry Parker Facebook Profile')
                                i.fab.fa-facebook-f
                            a.btn.btn-dark.btn-social.mx-2(href='#!',target="_blank", aria-label='Larry Parker LinkedIn Profile')
                                i.fab.fa-linkedin-in
                .row
                    .col-lg-8.mx-auto.text-center
                        p.large.text-muted
                            | We all are final year Computer Science students in Sapthagiri College of engineering. Feel free to reach out to us for any information regarding the app.

        // Contact
        section#contact.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Contact Us
                    h3.section-subheading.text-muted Answer to your queries are just a click away. Start typing!!

                // * * * * * * * * * * * * * * *
                // * * SB Forms Contact Form * *
                // * * * * * * * * * * * * * * *

                // This form is pre-integrated with SB Forms.
                // To make this form functional, sign up at
                // https://startbootstrap.com/solution/contact-forms
                // to get an API token!

                form#contactForm(data-sb-form-api-token='API_TOKEN')
                    .row.align-items-stretch.mb-5
                        .col-md-6
                            .form-group

                                // Name input
                                input#name.form-control(
                                    type='text',
                                    placeholder='Your Name *',
                                    data-sb-validations='required'
                                )
                                .invalid-feedback(data-sb-feedback='name:required')
                                    | A name is required.

                            .form-group

                                // Email address input
                                input#email.form-control(
                                    type='email',
                                    placeholder='Your Email *',
                                    data-sb-validations='required,email'
                                )
                                .invalid-feedback(data-sb-feedback='email:required')
                                    | An email is required.
                                .invalid-feedback(data-sb-feedback='email:email')
                                    | Email is not valid.

                            .form-group.mb-md-0

                                // Phone number input
                                input#phone.form-control(
                                    type='tel',
                                    placeholder='Your Phone *',
                                    data-sb-validations='required'
                                )
                                .invalid-feedback(data-sb-feedback='phone:required')
                                    | A phone number is required.

                        .col-md-6
                            .form-group.form-group-textarea.mb-md-0

                                // Message input
                                textarea#message.form-control(
                                    placeholder='Your Message *',
                                    data-sb-validations='required'
                                )
                                .invalid-feedback(data-sb-feedback='message:required')
                                    | A message is required.

                    // Submit success message
                    //
                    // This is what your users will see when the form
                    // has successfully submitted

                    #submitSuccessMessage.d-none
                        .text-center.text-white.mb-3
                            .fw-bolder Form submission successful!
                            | To activate this form, sign up at
                            br
                            a(href='https://startbootstrap.com/solution/contact-forms') https://startbootstrap.com/solution/contact-forms

                    // Submit error message
                    //
                    // This is what your users will see when there is
                    // an error submitting the form

                    #submitErrorMessage.d-none
                        .text-center.text-danger.mb-3 Error sending message!

                    // Submit Button
                    .text-center
                        button#submitButton.btn.btn-primary.btn-xl.text-uppercase.disabled(type='submit') Send Message
        // Footer
        footer.footer.py-4
            .container
                .row.align-items-center
                    .col-lg-4.text-lg-start
                        | Copyright &copy; C3 2022
                    .col-lg-4.my-3.my-lg-0
                        a.btn.btn-dark.btn-social.mx-2(href='#!',target="_blank", aria-label='Twitter')
                            i.fab.fa-twitter
                        a.btn.btn-dark.btn-social.mx-2(href='#!',target="_blank", aria-label='Facebook')
                            i.fab.fa-facebook-f
                        a.btn.btn-dark.btn-social.mx-2(href='#!',target="_blank", aria-label='LinkedIn')
                            i.fab.fa-linkedin-in
                    .col-lg-4.text-lg-end
                        a.link-dark.text-decoration-none.me-3(href='#!') Privacy Policy
                        a.link-dark.text-decoration-none(href='#!') Terms of Use

        // Portfolio Modals
        include includes/portfolio-modal-1
        include includes/portfolio-modal-2
        include includes/portfolio-modal-3
        include includes/portfolio-modal-4
        include includes/portfolio-modal-5
        include includes/portfolio-modal-6

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/moment.min.js')
        script(src='js/lodash.min.js')
        script(src='js/scripts.js')

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
        style
            .icon-green { color: green; }
            .icon-red { color: red; }
            .icon-large { font-size: 25px;}
